body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0000;
}

h1 {
  color: #ff0000;
  margin: 20px 0;
}

.pokedex-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px; /* Set a fixed width */
  margin: 0 auto; /* Center the card horizontally */
}

.pokemon-image {
  width: 100px;
  height: 100px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}